#window {
  font-family: 'JetBrainsMono Nerd Font';
  background-color: transparent;
}

#input {
  margin: 10px;
  border: 1px solid #c4b28a;
  color: #ebdbb2;
  background-color: None,
}

#input:selected {
  border: 1px solid #654321;
}

#outer-box {
  background-color: #1C2229;
}

#inner-box {
  margin: 10px;
  padding: 10px;
}

#scroll {
  margin: 0px;
  border: none;
  overflow: auto;
}

#text {
  margin: 5px;
  border: none;
  color: #c4b28a;
}

#input:focused {
  border: 2px solid #87a987;
}

#entry:image {
  padding: 100px;
}

#entry:selected {
  background-color: #393836;
}